@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptmono/v14/9oRONYoBnWILk-9ArC05NNPz.woff2) format('woff2');
}
